*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.lr-pad{
    padding: 0 8%;
}
#container{
    padding: 50px;
    text-align: center;
}
#container .btn{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 10px;
      cursor: pointer;
      border: 1px solid #eee;
}
#c1{
    background-color: aqua;
}
#c2{
    background-color: rgb(83, 255, 112);
}
#c3{
    background-color: rgb(153, 51, 255);
}
#c4{
    background-color: rgb(255, 61, 90);
}
h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
#box{
    margin: auto;
    width: 300px;
    height: 300px;
    border: 3px solid #eee;
    margin-top: 30px;
    line-height: 300px;
    font-size: 30px;
    font-weight: 700;
    transition: 0.8s;
}
#box span{
    border: none;
    cursor: none;
    color: black;
}